
                    html,body,p,ul,table,tr,td{margin:0;padding:0}
                    a{text-decoration:none}
                    li{list-style:none}
                    img{border:0 none}
                    body{font-family:'Microsoft YaHei';font-size:14px}
                    div,span,a{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
                    table{border-collapse:collapse;border-spacing:0;border:0 none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
                    td{text-align:left}
                    .resume_clearfix{display:block;overflow:hidden;clear:both}
                    .all_wrap{width:693px}
                    .at{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
                    .top_info{padding-left:10px;}
                    .page{width:693px;margin:0 auto;padding:3px;background-color:#fff}
                    .gray{color:#919191 !important}
                    .l_green{color:#6d8194 !important}
                    .blue{color:#4567af !important}
                    .yellow{color:#fae001 !important}
                    .y_green{color:#a4b049 !important}
                    .s_blue{color:#00a0e9 !important}
                    .orange{color:#f39800 !important}
                    .resume_boxt3{width:693px;background-color:#d7dfe7;border:15px solid #efefef}
                    .head_tr{vertical-align:top}
                    .mes_t3{margin:126px 15px 20px 15px}
                    .per_list3{line-height:22px;font-size:12px;color:#d8dcde}
                    .people{width:264px;margin-top:25px}
                    .peo_head{text-align:center;padding-bottom:10px}
                    .email_t3{max-width:146px;word-wrap:break-word;color:#919191}
                    .name_t3{height:40px;line-height:40px;font-size:18px;color:#000;text-align:center}
                    .divide{width:693px;text-align:center;background-color:#efefef}
                    .divide img{width:662px;height:9px;border:0 none}
                    .top_line{text-align:center;}
                    .mes_box3{width:693px;background-color:#efefef;border-left:15px solid #efefef;border-right:15px solid #efefef}
                    .bar_l{width:370px;vertical-align:top;padding:12px 0px 20px 0px} 
                    .bar_r{width:280px;vertical-align:top;padding-top:12px}
                    .per_title3{margin-left:9px}
                    .title_icon3{*width:31px;*height:*31px;padding-right:12px;border:0 none}
                    .title_icon3 img{margin-top:5px}
                    .info_type3{margin:-4px 0 0 23px;*margin:-1px 0 0 23px;*border-left:1px solid #448aca}
                    .info_type4{margin-left:23px;*border-left:1px solid #448aca}
                    .info_list3{line-height:22px;font-size:12px;color:#000;border-left:1px solid #448aca}
                    .info_list_com{line-height:22px;font-size:12px;color:#000;margin-top:20px;border-left:1px solid #448aca}
                    .title_txt3{height:27px;line-height:27px;font-weight:bold;color:#000;text-align:left}
                    .exp3{width:140px;vertical-align:top;padding-right:10px}
                    .edu3{width:64px;vertical-align:top;text-align:right}
                    .edu4{width:64px;vertical-align:top;text-align:right}
                    .limit3{width:268px}
                    .reu3{width:100px;vertical-align:top;}
                    .tec{width:104px}
                    .tec a{display:block;width:104px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
                    .tec span{display:block;width:104px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
                    .edu5{width:64px;vertical-align:top;text-align:right}
                    .exp3{width:102px}
                    .exp3 span{display:block;width:102px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
                    .exp3 a{display:block;width:102px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
                    .time3{width:106px; vertical-align:top;}
                    .con3{text-indent:28px}
                    .english{width:67px;text-align:right;vertical-align:top;}
                    .con_detail{width:304px;line-height:22px;font-size:12px;color:#919191;padding-left:28px}
                    .regular_t3{max-width:160px}
                    .pl{width:100px;padding-left:27px}
                    .com_t3{width:150px}
                    .introduce{width:248px;line-height:22px;font-size:12px;color:#919191;padding-left:28px}
                    .edu_t3{width:113px;vertical-align:top;padding-left:28px}
                    .limit_t3{width:82px}
                    .con_t3{position:relative;width:176px;height:16px;*height:15px;top:2px;background-color:#448aca;border:1px solid #accbe7}
                    .rank_t3{position:absolute;top:0;left:0;width:70%;height:16px;line-height:16px;text-indent:6px;background-color:#accbe7;color:#919191}
                    .cer{width:180px;padding-left:28px}
                    .cer span{display:block;width:160px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
                    .pofi{width:106px;text-align:right;vertical-align:top}
                